﻿


@*This is not intended as a display mode out of the box; but a scaffold for custom implementations at the theme level.*@



@{
    var slides = ((IEnumerable<dynamic>)Model.Slides).ToList();
    if (slides.Any())
    {
        <ul>
            @foreach (var slide in slides)
            {
                <li>                    
                    @Display(slide)
                </li>
            }
        </ul>
    }
}