﻿@{
    const string localPrefix = "DefaultPlugin";
    const string animationSpeed = localPrefix + ".AnimationSpeed";
    const string animationTime = localPrefix + ".AnimationTime";
    const string buttons = localPrefix + ".Buttons";
    const string indicators = localPrefix + ".Indicators";
    const string auto = localPrefix + ".Auto";
    const string cycleOnce = localPrefix + ".CycleOnce";
    const string cycling = localPrefix + ".Cycling";
    const string orientation = localPrefix + ".Orientation";
    const string minWidth = localPrefix + ".MinWidth";
    const string stopAtLast = localPrefix + ".StopAtLast";
}

<div class="form-group">
    <label for="@Html.Id(animationSpeed)">@T("Animation Speed")</label>
    @Html.TextBox(animationSpeed, (string)Model.AnimationSpeed, new { @class = "text small" })
</div>

<div class="form-group">
    <label for="@Html.Id(animationTime)">@T("Animation Time")</label>
    @Html.TextBox(animationTime, (string)Model.AnimationTime, new { @class = "text small" })
</div>

<div class="form-group">
    <label for="@Html.Id(minWidth)">@T("Minimum Width")</label>
    @Html.TextBox(minWidth, (string)Model.MinWidth, new { @class = "text small" }) @T("px")
</div>

<div class="form-group">
    @Html.CheckBox(buttons, String.Equals((string)Model.Buttons, "true", StringComparison.OrdinalIgnoreCase), new { value = true })
    <label for="@Html.Id(buttons)" class="forcheckbox">@T("Show Buttons")</label>
</div>

<div class="form-group">
    @Html.CheckBox(indicators, String.Equals((string)Model.Indicators, "true", StringComparison.OrdinalIgnoreCase), new { value = true })
    <label for="@Html.Id(indicators)" class="forcheckbox">@T("Show Indicators")</label>
</div>

<div class="form-group">
    @Html.CheckBox(auto, String.Equals((string)Model.Auto, "true", StringComparison.OrdinalIgnoreCase), new { value = true })
    <label for="@Html.Id(auto)" class="forcheckbox">@T("Auto Start")</label>
</div>

<div class="form-group">
    @Html.CheckBox(cycleOnce, String.Equals((string)Model.CycleOnce, "true", StringComparison.OrdinalIgnoreCase), new { value = true })
    <label for="@Html.Id(cycleOnce)" class="forcheckbox">@T("Cycle Once")</label>
</div>

<div class="form-group">
    @Html.CheckBox(cycling, String.Equals((string)Model.Cycling, "true", StringComparison.OrdinalIgnoreCase), new { value = true })
    <label for="@Html.Id(cycling)" class="forcheckbox">@T("Cycling")</label>
</div>

<div class="form-group">
    @Html.CheckBox(stopAtLast, String.Equals((string)Model.StopAtLast, "true", StringComparison.OrdinalIgnoreCase), new { value = true })
    <label for="@Html.Id(stopAtLast)" class="forcheckbox">@T("Stop At Last Frame")</label>
</div>

<div class="form-group">
    <label for="@Html.Id(orientation)">@T("Orientation")</label>
    @Html.DropDownList(orientation, new[] {
        new SelectListItem { Text = "Horizontal", Value = "horizontal", Selected = (string)Model.Orientation == "horizontal"},
        new SelectListItem { Text = "Vertical", Value = "vertical", Selected = (string)Model.Orientation == "vertical"}
    })
</div>