﻿@using Onestop.SlideShows.Settings
@using Onestop.SlideShows.ViewModels
@{
    Script.Include("slideshow-admin.js");
    var slideShowViewModel = Model.Model as SlideShowViewModel;
    var slideShowSettings = Model.Model as SlideShowSettings;
    var configurationEditors = slideShowViewModel != null
        ? slideShowViewModel.PluginConfigurationEditors
        : slideShowSettings != null
        ? slideShowSettings.PluginConfigurationEditors
        : null;
    var currentPluginName = slideShowViewModel != null
        ? slideShowViewModel.Plugin
        : slideShowSettings != null
        ? slideShowSettings.Plugin
        : null;
}
@if (configurationEditors != null && configurationEditors.Any()) {
    if (string.IsNullOrWhiteSpace(currentPluginName)) {
        currentPluginName = configurationEditors.First().Key;
    }
    <fieldset>
        @if (slideShowViewModel == null || slideShowViewModel.AllowPluginOverride) {
            <label for="@Html.Id("Plugin")">Plug-in</label>
            @Html.DropDownList(
                "Plugin",
                configurationEditors.OrderBy(kvp => kvp.Key)
                                    .Select(kvp => new SelectListItem {
                                        Text = kvp.Key,
                                        Value = kvp.Key,
                                        Selected = kvp.Key == currentPluginName
                                    }),
                                    new {@class = "slideshow-plugin-dropdown"})
        }
        @if (slideShowViewModel == null || slideShowViewModel.AllowPluginConfigurationOverride) {
            foreach (var pluginConfigurationEditorKeyValue in configurationEditors) {
                var pluginName = pluginConfigurationEditorKeyValue.Key;
                var pluginConfigurationEditor = pluginConfigurationEditorKeyValue.Value;
                var pluginEditorWrapperId = Html.Id("Plugin_" + pluginName);
                <div id="@pluginEditorWrapperId" class="slideshow-plugin-configuration"
                     data-slideshow-plugin="@pluginName" data-slideshow-plugin-dropdown="@Html.Id("Plugin")"
                    style="@(currentPluginName == pluginName ? "" : "display:none;")">
                    @Display(pluginConfigurationEditor)
                </div>
            }
        }
    </fieldset>
}