﻿@{
    var slides = ((IEnumerable<dynamic>) Model.Slides).ToList();
    Model.Classes.Add("slide-show-pager");
    Model.Attributes["id"] = Model.SlideShowId + "-pager";
    Model.Attributes["data-slide-show-id"] = Model.SlideShowId;
    var tag = Tag(Model, "ul");
    @tag.StartElement
    <li class="slide-pager-button slide-previous"><a href="#">&lt;</a></li>
    for (var i = 0; i < slides.Count; i++) {
        <li class="slide-pager-button slide-number slide-number-@i@(i == 0 ? " slide-current" : "")" data-index="@i"><a href="#">@(i + 1)</a></li>
    }
    <li class="slide-pager-button slide-next"><a href="#">&gt;</a></li>
    @tag.EndElement
}