﻿@using System.Web.Mvc.Html
@using Orchard.Mvc.Html
@model Onestop.SlideShows.ViewModels.SlideViewModel
@{
    Script.Require("jQuery").AtFoot();
    Script.Require("jQueryUI_Sortable").AtFoot();
    Style.Include("media-library-picker-admin.css");

    Script.Require("jQueryColorBox");
    Style.Require("jQueryColorBox");

    Layout.Title = T("Add existing media as slides").ToString();
    using (Html.BeginForm(
        "AddExistingMediaSlide", "SlideShowAdmin",
        new {
            slideShowId = Model.SlideShowId,
            fieldName = Model.FieldName,
            returnUrl = Model.ReturnUrl
        },
        FormMethod.Post)) { 
        @Html.ValidationSummary()
        <fieldset>
            <div>
                <span id="btn-selected-ids" class="button" data-original-text="@T("Add Media Items")" data-more-text="@T("Add More Media Items")">@T("Add Media Items")</span>
            </div>
            @Html.Hidden("selectedIds")
        </fieldset>
        <div id="media-library-picker-selected-ids" class="items media-library-picker">
            <ul>
            </ul>
        </div>
        <fieldset class="save-button"><legend></legend>
            @Html.AntiForgeryTokenOrchard()
            <button class="primaryAction" type="submit" name="submit.Save" value="submit.Save">@T("Save")</button>
        </fieldset>
    }
}
@using (Script.Foot()) {
<script type="text/javascript">
    //<![CDATA[

    (function ($) {
        var addButton = $('#btn-selected-ids');
        var selectedIdsTemplate =
            '<li><div data-id="{contentItemId}" class="media-library-picker-item"><div class="thumbnail">{thumbnail}<div class="overlay"><h3>{title}</h3></div><div></div><a href="#" data-id="{contentItemId}" class="media-library-picker-remove">@T("Remove")</a></li>';

        var updateAddbuttonText = function (items) {
            var buttonText = items.length == 0 ? addButton.data("original-text") : addButton.data("more-text");
            addButton.text(buttonText); 
        };

        var refreshIds = function () {
            var id = $('#selectedIds').val(''),
                items = $(".media-library-picker-item");
            
            updateAddbuttonText(items);
            id.val(items.map(function () { return $(this).attr("data-id"); }).get().join(","));
        };

        refreshIds();

        addButton.click(function () {
            var url = '@HttpUtility.JavaScriptStringEncode(Url.Action("Index", "Admin", new {area = "Orchard.MediaLibrary", dialog = true}))';
            $.colorbox({
                href: url,
                iframe: true,
                reposition: true,
                width: "100%",
                height: "100%",
                onLoad: function () { // hide the scrollbars from the main window
                    $('html, body').css('overflow', 'hidden');
                    $('#cboxClose').remove();
                },
                onClosed: function () {
                    $('html, body').css('overflow', '');
                    var selectedData = $.colorbox.selectedData;
                    if (selectedData == null) // Dialog cancelled, do nothing
                        return;
                    for (var i = 0; i < selectedData.length; i++) {
                        var template = selectedIdsTemplate
                            .replace(/\{contentItemId\}/g, selectedData[i].id)
                            .replace(/\{thumbnail\}/g, selectedData[i].thumbnail)
                            .replace(/\{title\}/g, selectedData[i].title)
                            .replace(/\{editLink\}/g, selectedData[i].editLink),
                            content = $(template);
                        $('#media-library-picker-selected-ids ul').append(content);
                    }

                    refreshIds();
                }
            });

        });

        $(document).on("click", '#media-library-picker-selected-ids .media-library-picker-remove', function (e) {
            e.preventDefault();
            if (!confirm("@HttpUtility.JavaScriptStringEncode(T("Do you really want to remove that media?").Text)")) return false;
            $(this).closest('li').remove();
            refreshIds();
            return false;
        });

        $("#media-library-picker-selected-ids ul").sortable({
            handle: '.thumbnail',
            stop: function () {
                refreshIds();
            }
        }).disableSelection();

    })(jQuery);
    //]]>
</script>
}