﻿.os-slideshow {
    position: relative;
    overflow: hidden;
}
.os-slideshow ul {
    position: relative;
    list-style-type:none;
  	height: 100%;
    margin:0;
    padding:0;
}
.os-slideshow ul li {
    position:absolute;
    left:0;
    top:0;
    display:none;
}
.os-slideshow ul li:first-child {
    display:block;
}
.os-slideshow ul li img {
    width: 100%;
}
.os-slideshow ol
{
    position: absolute;
    right:20px;
    bottom:20px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 10000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    cursor: pointer;
}
.os-slideshow ol li {
    float: left;
    background: #eee;
    cursor: pointer;
    width: 18px;
    height: 16px;
    margin: 2px;
    font-size: 11px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border:2px solid #000;
    z-index: 10000;
    padding: 2px 0 0 0;
    font-family: arial;
    font-weight:bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.os-slideshow ol li:hover {
    background: #aaa;
}
.os-slideshow ol li.active {
    background: #666;
    color:#fff;
}
.os-slideshow .next {
    display:block;
    width:52px;
    height:52px;
    position:absolute;
    right:10px;
    top:45%;
    background:#eee;
    cursor:pointer;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
    border:4px solid #000;
    z-index:10000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}
.os-slideshow .prev {
    display:block;
    width:52px;
    height:52px;
    position:absolute;
    left:10px;
    top:45%;
    background:#eee;
    cursor:pointer;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
    border:4px solid #000;
    z-index:10000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}
.os-slideshow ol:hover,
.os-slideshow .next:hover,
.os-slideshow .prev:hover
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    cursor: pointer;
}
.arrow-right {
    position:absolute;
    left:50%;
    top:50%;
    margin:-15px 0 0 -7px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 0 15px 20px;
    border-color: transparent transparent transparent #333;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #333;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.arrow-left {
    position:absolute;
    left:50%;
    top:50%;
    margin:-15px 0 0 -14px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 20px 15px 0;
    border-color: transparent #333 transparent transparent;
    line-height: 0px;
    _border-color: #000000 #333 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.clickable-area
{
    position: absolute;
    top: 42%;
    left: 61%;
    z-index: 10000;
    background: #006600;
    opacity: .5;
    width: 35%;
    height: 26%;
    cursor:pointer;
}
